<h2>Pantry</h2>
<p>Total number of elements <strong *ngIf="totalCounter">{{totalCounter}}</strong></p>
<div *ngFor="let item of pantryContent$ | async">
  <p (click)="showPantryElDetails(item.id)">{{item.item}}</p>
</div>

<button *ngIf="firstPageLink" (click)="goToSelectedPage(firstPageLink)">First page</button>
<button *ngIf="prevPageLink" (click)="goToSelectedPage(prevPageLink)">Prev page</button>
<button *ngIf="nextPageLink" (click)="goToSelectedPage(nextPageLink)">Next page</button>
<button *ngIf="lastPageLink" (click)="goToSelectedPage(lastPageLink)">Last page</button>


<div *ngIf="(pantryElement$ | async) as pantryElement">
  <div *ngIf="pantryElement">
    <app-pantry-element [pantryElement]="pantryElement"></app-pantry-element>
  </div>
</div>
